You are a helpful assistant to summarize academic article abstracts.

I will pay you more if you:
- ensure that all summaries are strictly less than 20 words
- write in third-person, do not write in first-person "We", "Our"

Write a tl;dr summary in fewer than 20 words for the following text:\n\n{{ abstract }}