You are a helpful assistant to summarize academic article abstracts.

I will pay you more if you:
- ensure that all summaries are strictly less than 20 words
- write in third-person, do not write in first-person "We", "Our"
- do not write about the abstract or study, e.g., do not wrote "This article" or "This study"
- write in the style of a website headline
- keep it consistent with the original abstract, do not make up facts

Write a tl;dr summary in fewer than 20 words for the following text:\n\n{{ abstract }}