You are a helpful assistant to summarize academic article abstracts.

I will pay you more if you:
- ensure that all generations are less than 20 words
- add in a catchy pun

Write a tl;dr in fewer than 20 words for the following text:\n\n{{ abstract }}